body {
  margin: 0;
}

.container {
  display: block;
  width: 1000px;
  position: relative;
  margin-left: 50px;
}

.webgl {
  top: 50px;
  display: block;
  position: absolute;
  background-color: #000000;
  z-index: 1;
}

.ctx2d {
  display: block;
  position: absolute;
  /* background-color: rgba(200,100,100, 0.1); */
  border: 1px solid #333;
  z-index: 2;
}

canvas:hover {
  cursor:none;
}

.slidecontainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  left: 30%;
}

.slider {
  width: 500px;
}
